<div class="container ">
    <div class="text-center">
        <h1>Form Builder</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <input type="text" class="form-control" id="Title"
            placeholder="Enter Title" name="Title" #FormTitle />
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3 mt-3">
                <button class="btn btn-primary" (click)="OnSubmit()">Create Form</button>
              </div>
          </div>
        </div>
      </nav>
    <div class="col-md-12">
        <form-builder [form]="form" [options]="options" #FormBilder></form-builder>
    </div>
 
</div>