<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
   
    <header>
      <a routerLink="">Angular Form.Io</a>
    </header>
    <ul class="nav">
      <li>
        <a routerLink="FromBuilder"><i class="zmdi zmdi-plus-circle"></i> Form Bilder</a>
      </li>
      <li>
        <a routerLink="FromRenderer"><i class="zmdi zmdi-view-dashboard"></i> Form Renderer </a>
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div id="content">

    <div class="container-fluid">
      <!-- <app-form-builder></app-form-builder>
      <hr>
      <app-form-renderer></app-form-renderer> -->
      <router-outlet></router-outlet>
      <app-syncfusion-data-grid class=""></app-syncfusion-data-grid>
    </div>
  </div>
</div>



