<div class="container">
    <div class="text-center">
        <h1>Form Renderer</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <h1>SetValue</h1>
                <h1>GetValue</h1>
            </div>
        </div>
        <div class="col-md-8">
            <div id="formio"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h3>GetValue</h3>
<h2>{{getDataformio}}</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h1>SetValue</h1>
            </div>
        </div>
    </div>
    <hr>

</div>


<!-- <div class="container ">
  <div class="col-md-12">
    <div class="text-center">
      <h1>Form Renderer</h1>
    </div>
    <formio [form]="FormTitileControls" ></formio> -->

<!-- <formio [form]='{
      "title": "My Test Form",
      "components": [
          {
              "type": "textfield",
              "input": true,
              "tableView": true,
              "inputType": "text",
              "inputMask": "",
              "label": "First Name",
              "key": "firstName",
              "placeholder": "Enter your first name",
              "prefix": "",
              "suffix": "",
              "multiple": false,
              "defaultValue": "",
              "protected": false,
              "unique": false,
              "persistent": true,
              "validate": {
                  "required": true,
                  "minLength": 2,
                  "maxLength": 10,
                  "pattern": "",
                  "custom": "",
                  "customPrivate": false
              }
          },
          {
              "type": "textfield",
              "input": true,
              "tableView": true,
              "inputType": "text",
              "inputMask": "",
              "label": "Last Name",
              "key": "lastName",
              "placeholder": "Enter your last name",
              "prefix": "",
              "suffix": "",
              "multiple": false,
              "defaultValue": "",
              "protected": false,
              "unique": false,
              "persistent": true,
              "validate": {
                  "required": true,
                  "minLength": 2,
                  "maxLength": 10,
                  "pattern": "",
                  "custom": "",
                  "customPrivate": false
              }
              
          },
          {
              "input": true,
              "label": "Submit",
              "tableView": false,
              "key": "submit",
              "size": "md",
              "leftIcon": "",
              "rightIcon": "",
              "block": false,
              "action": "submit",
              "disableOnInvalid": true,
              "theme": "primary",
              "type": "button"
          }
      ]
  }'></formio>
  
  </div>
  <div class="col-md-6">
    
      <a routerLink="/FromBuilder">From Renderer</a>
 
  </div>
</div> -->